<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="header-section ion-text-center">
    <ion-icon name="lock-closed-outline" color="primary" class="main-icon"></ion-icon>
    <p>Ingresa tus datos para actualizar tu seguridad.</p>
  </div>

  <form (ngSubmit)="submit()">
    <ion-list lines="inset">
      <ion-item>
        <ion-label position="stacked">Contraseña Actual</ion-label>
        <ion-input type="password" [(ngModel)]="currentPassword" name="currentPassword" required></ion-input>
      </ion-item>

      <ion-item class="ion-margin-top">
        <ion-label position="stacked">Nueva Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Confirmar Nueva Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      </ion-item>
    </ion-list>

    <div class="ion-padding-top">
      <ion-button expand="block" type="submit" [disabled]="loading">
        <ion-spinner *ngIf="loading" name="crescent" slot="start"></ion-spinner>
        Actualizar Contraseña
      </ion-button>
    </div>
  </form>
</ion-content>